@font-face {
    font-family: 'A Iranian Sans';
    src: url('iranian Sans.woff');
    src: url('iranian Sans.woff2') format("woff2");
}

/*input,*/
* {
    font-family: A Iranian Sans;
    font-size: medium;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: A Iranian Sans !important;
}


/*.bmd-form-group input::placeholder, input.form-control {*/
/*    font-size: 22px;*/
/*    text-align: center;*/
/*}*/

.filter-option-inner-inner {
    text-align-last: start;
}

span.sidebar-normal {
    font-size: initial;
}
