<template>
 <div class="modal fade" id="categoriesModal" tabindex="-1" role="">
  <div class="modal-dialog modal-signup" role="document">
   <div class="modal-content">
    <div class="card card-signup card-plain">
     <div class="modal-header">
      <div class="card-header card-header-primary text-center">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="material-icons">clear</i>
       </button>
       <h4 class="card-title">دسته ‌بندی‌ها</h4>
      </div>
     </div>
     <div class="modal-body">
      <div class="table-responsive">
       <table class="table table-shopping">
        <thead>
        <tr>
         <th class="text-center">#</th>
         <th><i class="material-icons">image</i></th>
         <th>کد</th>
         <th>نام</th>
         <th>توضیحات</th>
         <th class="text-right">فعالیت</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(category,index) in computedListCategories">
         <td class="text-center">{{ index + 1 }}</td>
         <td>
          <div class="img-container">
           <!--           <img src="../../assets/img/category3.jpg" alt="...">-->
           <img v-if="category.image" :src="category.image.address">
           <!--           <input v-else type="file" @change="updateCategory(category)" ref="file" name="" >-->
           <!--           @change="updateCategory(category)"-->
           <input v-if="category.showInput" type="file" ref="file" name="">
           <validation_error v-if="editErrors.files && category.showInput" :value="editErrors.files"></validation_error>
          </div>
         </td>
         <td v-if="!category.showInput">{{ category.code }}</td>
         <td v-if="category.showInput">
          <input type="text" v-model="category.code" class="form-control">
          <validation_error v-if="editErrors.code" :value="editErrors.code"></validation_error>
         </td>
         <td v-if="!category.showInput">{{ category.name }}</td>
         <td v-if="category.showInput">
          <input type="text" v-model="category.name" class="form-control">
          <validation_error v-if="editErrors.name" :value="editErrors.name"></validation_error>
         </td>
         <td v-if="!category.showInput">{{
           lib.truncate(category.description, {
            'length': 50,
            'separator': ' '
           })
          }}
         </td>
         <td v-if="category.showInput">
          <textarea class="form-control" v-model="category.description"></textarea>
          <validation_error v-if="editErrors.description" :value="editErrors.description"></validation_error>
         </td>
         <td class="td-actions text-right">
          <button @click.prevent="remove(category)" class="btn btn-danger">
           <i class="material-icons">close</i>
          </button>
          <button v-if="category.showInput" @click.prevent="updateCategory(category)" class="btn btn-info">
           <i class="material-icons">edit</i>
          </button>
          <button v-if="!category.showInput" @click.prevent="editState(category)"
                  class="btn btn-info">
           <i class="material-icons">edit</i>
          </button>
         </td>
        </tr>
        <tr>
         <td></td>
         <td>
          <div class="img-container">
           <img v-if="newCategory.image" :src="newCategory.image.address">
           <input type="file" ref="newCategoryFile" name="">
           <validation_error v-if="errors.files" :value="errors.files"></validation_error>

          </div>
         </td>
         <td>
          <input type="text" v-model="newCategory.code" class="form-control">
          <validation_error v-if="errors.code" :value="errors.code"></validation_error>


         </td>
         <td>
          <input type="text" v-model="newCategory.name" class="form-control">
          <validation_error v-if="errors.name" :value="errors.name"></validation_error>

         </td>
         <td>
          <textarea class="form-control" v-model="newCategory.description"></textarea>
          <validation_error v-if="errors.description" :value="errors.description"></validation_error>

         </td>
         <td class="td-actions text-right">
          <button @click.prevent="store(newCategory)" class="btn btn-success">
           <i class="material-icons">save</i>
          </button>
         </td>
        </tr>
        </tbody>
       </table>
      </div>
     </div>
     <div class="modal-footer justify-content-center">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
       <i class="material-icons">clear</i>
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
</template>

<script>
import {ref} from 'vue';
import {
 getCurrentInstance,
 onMounted,
 onUpdated,
 computed,
 watchEffect,
 onbeforeMount,
 onUnmounted,
 nextTick
} from 'vue'
import {swal_alert, form_data} from "../../scripts/global";
import validation_error from "../components/validation_error";

export default {
 name: "category",
 components: {
  validation_error,
 },
 setup: function () {
  const bus = getCurrentInstance().appContext.config.globalProperties.bus;

  const category = ref({
   name: '',
   image: {}
  })
  const copy_category = _.clone(category.value);
  const getCategory = () => {
   axios.get('/admin/category/' + id.value + '/edit').then(res => {
    category.value = _.pick(res.data.data, ['id', 'name', 'code', 'price', 'description', 'categories',]);
    Files.value = res.data.data.files;
    selected_tags.value = res.data.data.tags
    category.value.selected_tags = selected_tags.value;
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  const errors = ref([]);
  const newCategory = ref({})
  const listCategories = ref([]);
  const computedListCategories = computed(() => {
   return listCategories.value;
  });

  const getListCategories = function () {
   axios.get('/admin/category?with_img=true').then(res => {
    res.data.forEach((tag) => {
     tag.showInput = false;
     listCategories.value.push(tag)
    });
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  onUpdated(() => {
  });
  onUnmounted(() => {
  });
  onMounted(() => {

   $('#categoriesModal').on('show.bs.modal', function (e) {
    getListCategories();
   })
   $('#categoriesModal').on('hidden.bs.modal', function (e) {
    listCategories.value = [];
   })
  });
  watchEffect(() => {
  })
  const image = ref({
   file: {}
  });
  const editErrors = ref([]);

  const updateCategory = function (category) {
   this.$Progress.start();
   editErrors.value = [];
   axios.post('/admin/category/' + category.id, form_data.form_data(category, [{
    file: this.$refs.file.files[0],
   }], 'PUT'))
    .then(resp => {
     this.$Progress.finish();
     swal_alert.success('عملیات با موفقیت انجام شد.');
     category.image = resp.data.image
     category.code = resp.data.code
     category.description = resp.data.description
     category.name = resp.data.name
     // listCategories.value.forEach((item) => {
     //  if (item === category) {
     //   console.log(item === category,item , category)
     //   item = resp.data;
     //  }
     // });
     category.showInput = false;
     //////////////////////////////////////////////
     // category.value = copy_category;
     // category.value.selected_tags = selected_tags.value = [];
     // all_files = [];
     // bus.emit('all_files_updated', all_files);
     //////////////////////////////////////////////
    })
    .catch((error, a, b) => {
     this.$Progress.fail();
     editErrors.value = swal_alert.error_for_all_code(error);
    })
  };
  const store = function (category) {
   this.$Progress.start();
   errors.value = [];
   axios.post('/admin/category', form_data.form_data(category, [{
    file: this.$refs.newCategoryFile.files[0],
   }]))
    .then(resp => {
     this.$Progress.finish();
     swal_alert.success('عملیات با موفقیت انجام شد.');
     listCategories.value = [];
     getListCategories()
     newCategory.value = {};
     this.$refs.newCategoryFile.value = '';
     // console.log(this.$refs.newCategoryFile.value)
     // category.image = resp.data.image
     // category.code = resp.data.code
     // category.description = resp.data.description
     // category.name = resp.data.name
     // listCategories.value.forEach((item) => {
     //  if (item === category) {
     //   console.log(item === category,item , category)
     //   item = resp.data;
     //  }
     // });
     // category.showInput = false;
     //////////////////////////////////////////////
     // category.value = copy_category;
     // category.value.selected_tags = selected_tags.value = [];
     // all_files = [];
     // bus.emit('all_files_updated', all_files);
     //////////////////////////////////////////////
    })
    .catch((error, a, b) => {
     this.$Progress.fail();
     errors.value = swal_alert.error_for_all_code(error);
    })
  };
  const editState = (category) => {
   errors.value = [];
   editErrors.value = [];
   listCategories.value.forEach((item) => {
    item.showInput = false;
    if (item === category ) {
     category.showInput=!category.showInput
    }
   });
  };
  const remove = function (category) {
   swal_alert.delete(category.name).then(res => {
    if (res.value) {
     this.$Progress.start();
     axios.post('admin/category/' + category.id, form_data.form_data(null, null, 'DELETE')).then(r => {
      this.$Progress.finish();
      listCategories.value.splice(listCategories.value.indexOf(category), 1)
      swal_alert.success('عملیات با موفقیت انجام شد.');

     })
     .catch((error, a, b) => {
     this.$Progress.fail();
     swal_alert.error_for_all_code(error);
     });
    }})
  }
  const lib = _;
  return {
   category,
   store,
   errors,
   listCategories,
   computedListCategories,
   getCategory,
   editErrors,
   updateCategory,
   image,
   lib,
   newCategory,
   editState,
   remove
  };
 }


}
</script>
<style scoped>

</style>