<template>
 <footer class="footer">
  <div class="container-fluid">
   <nav class="float-left">
    <ul>
     <li>
      <a href="https://www.creative-tim.com">
       تیم خلاق
      </a>
     </li>
     <li>
      <a href="https://creative-tim.com/presentation">
       درباره ما
      </a>
     </li>
     <li>
      <a href="http://blog.creative-tim.com">
       بلاگ
      </a>
     </li>
     <li>
      <a href="https://www.creative-tim.com/license">
       اجازه نامه
      </a>
     </li>
    </ul>
   </nav>
   <div class="copyright float-right">
    ساخته شده با
    <i class="material-icons">favorite</i> توسط,
    <a href="https://www.creative-tim.com" target="_blank">تیم خلاق</a> برای وب بهتر.
   </div>
  </div>
 </footer>
</template>

<script>
export default {
name: "footer_app"
}
</script>

<style scoped>

</style>