<template>
 <div class="container-fluid">
  <div id="msg"></div>
  <div class="row">
   <div class="col-md-12">
    <div class="card ">
     <div class="card-header card-header-rose card-header-text">
      <div class="card-text">
       <h4 class="card-title">ویرایش محصول</h4>
      </div>
     </div>
     <div class="card-body ">
      <form method="get" action="/" class="form-horizontal">
       <div class="form-group bmd-form-group">
        <label class="bmd-label-floating">نام </label>
        <input v-model="product.name" type="text" class="form-control">
        <validation_error v-if="errors.name" :value="errors.name"></validation_error>
       </div>
       <div class="form-group bmd-form-group">
        <label class="bmd-label-floating">کد </label>
        <input v-model="product.code" type="text" class="form-control">
        <validation_error v-if="errors.code" :value="errors.code"></validation_error>

       </div>
       <div class="form-group bmd-form-group">
        <label class="bmd-label-floating">قیمت </label>
        <input v-model="product.price" type="number" class="form-control">
        <validation_error v-if="errors.price" :value="errors.price"></validation_error>

       </div>
       <div class="form-group bmd-form-group">
        <label class="bmd-label-floating">توضیحات </label>
        <textarea v-model="product.description" type="text" class="form-control"></textarea>
        <validation_error v-if="errors.description" :value="errors.description"></validation_error>

       </div>
       <div class="row">
        <div class="col-8">
         <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">دسته بندی </label>
          <select v-model="product.categories" id="selectpicker_categories" data-width="100%" class="selectpicker text-right"
                  data-style="select-with-transition" multiple selected
                  title="دسته بندی"
                  data-size="7" data-live-search="true">
           <option v-for="category in listCategories" :value="category.id">{{ category.name }}</option>
          </select>
          <validation_error v-if="errors.categories" :value="errors.categories"></validation_error>


         </div>
        </div>
        <div class="col-4">
         <button @click.prevent="showModalCategories()" class="btn btn-round">
          اضافه کردن دسته‌بندی<i class="material-icons">assignment</i>
         </button>
         <category></category>
        </div>
       </div>


       <div :class="{'border border-info rounded my-2 px-2':selected_tags.length}">
        <div class="row " v-for="(selected_tag,index) in selected_tags">
         <span class="col-3">{{ nameTag(selected_tag.tag) }}</span>
         <select v-model="selected_tag.tag" class="before-apply-select-picker selectpicker text-right col-4"
                 :id="'id_tags'+index"
                 data-style="select-with-transition" title="ویژگی"
                 data-size="7" data-live-search="true">
          <option v-for="tag in listTags" :value="tag.id">{{ tag.name }}</option>
         </select>
         <div class="form-group bmd-form-group col-4">
          <label class="bmd-label-floating"></label>
          <input v-model="selected_tag.val" type="text" class="form-control">
         </div>
         <button @click.prevent="removeSelectedTag(index)" class="btn btn-just-icon btn-link btn-google-plus">
          <span class="material-icons">remove_circle</span>
         </button>

        </div>
        <validation_error v-if="errors.selected_tags" :value="errors.selected_tags"></validation_error>
        <button @click.prevent="[addSelectedTag(),refreshPicker()]"
                class="btn btn-social btn-just-icon btn-round btn-twitter">
         <span class="material-icons">add</span>
        </button>
        <button @click.prevent="showModalTags()" class="btn btn-round">
         اضافه کردن ویژگی<i class="material-icons">assignment</i>
        </button>
       </div>
       <Tag></Tag>
       <file_uploader belong_to="product" :old_image_array="getProductFiles">
        <template v-slot:button>
         <h6 class="mr-5">توجه: عکس شاخص انتخاب شود</h6>
         <validation_error v-if="errors.files" :value="errors.files"></validation_error>
         <validation_error v-if="errors.files_info" :value="errors.files_info"></validation_error>
        </template>
       </file_uploader>
       <button @click.prevent="store()" class="btn btn-primary">ذخیره</button>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</template>

<script>
import {onDeactivated, ref} from 'vue';
import file_uploader from "../../components/file_uploader";
import {
 getCurrentInstance,
 onMounted,
 onUpdated,
 computed,
 watchEffect,
 onbeforeMount,
 onUnmounted,
 nextTick
} from 'vue'
import {swal_alert, form_data} from "../../../scripts/global";
import {useRoute} from 'vue-router';
import tag from "./tag";
import VueScript2 from 'vue-script2'
import validation_error from "../../components/validation_error";
import category from "../../components/category";
import Tag from "../../components/tag";


export default {
 name: "edit",
 components: {
  file_uploader,
  validation_error,
  Tag,
  category
 },
 setup: function () {
  const bus = getCurrentInstance().appContext.config.globalProperties.bus;
  const selected_tags = ref([]);
  const product = ref({
   name: '',
   code: '',
   price: 0,
   description: '',
   categories: [],
   selected_tags: [],
   files_info: []
  })
  const copy_product = _.clone(product.value);
  const getProductFiles = ref(null)
  const getProduct = () => {
   axios.get('/admin/product/' + id.value + '/edit').then(res => {
    // product.value = res.data.data;
    product.value = _.pick(res.data.data, ['id', 'name', 'code', 'price', 'description', 'categories',]);
    getProductFiles.value = res.data.data.files;
    // product.value.files_info = res.data.data.files;
    selected_tags.value = res.data.data.tags
    product.value.selected_tags = selected_tags.value;
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  const errors = ref([]);
  const store = function () {
   this.$Progress.start();
   errors.value = [];
   product.value.files_info = JSON.parse(JSON.stringify(all_files));
   product.value.files_info.forEach((file) => {
    file.file = null;
    file.file_base64 = null;
   });
   axios.post('/admin/product/' + product.value.id, form_data.form_data(product.value, all_files, 'PUT'))
    .then(resp => {
     this.$Progress.finish();
     swal_alert.success('عملیات با موفقیت انجام شد.');


     //////////////////////////////////////////////
     product.value = copy_product;
     product.value.selected_tags = selected_tags.value = [];
     all_files = [];
     bus.emit('all_files_updated', all_files);
     //////////////////////////////////////////////
     this.$router.push('/list');
    })
    .catch((error, a, b) => {
     this.$Progress.fail();
     errors.value = swal_alert.error_for_all_code(error);
    })
  }
  const addSelectedTag = () => {
   function validation() {
    let check = true;
    selected_tags.value.forEach((item) => {
     if (!('tag' in item && 'val' in item)) {
      check = false;
      return
     }
    });
    return check;
   }

   if (validation()) {

    selected_tags.value.push({});
   }
  };
  const removeSelectedTag = (index) => {
   selected_tags.value.splice(index, 1);
  }
  const refreshPicker = () => {
   setTimeout(function () {
    selected_tags.value.forEach((tag, index) => {
     $('#id_tags'.concat(index)).selectpicker('refresh');
     // $('#id_tags'.concat(index)).selectpicker('refresh').empty().append(output).selectpicker('refresh').trigger('change');
     // $('#id_tags'.concat(index)).addClass('selectpicker');
     // $('#id_tags'.concat(index)).attr('data-live-search', 'true');
     // $('#id_tags'.concat(index)).selectpicker('refresh');
    });
   }, 100);
  }
  const listTags = ref([]);
  const getListTags = function () {
   axios.get('/admin/tag').then(res => {
    res.data.forEach((tag) => {
     listTags.value.push(tag)
    });
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  const listCategories = ref([]);
  const getListCategories = function () {
   axios.get('/admin/category').then(res => {
    res.data.forEach((tag) => {
     listCategories.value.push(tag)
    });
   }).catch(err => {
    swal_alert.error(err);
   });
  };
  onUpdated(() => {
   $('#selectpicker_categories').selectpicker('refresh');
   // refreshPicker();
  });
  onUnmounted(() => {
   // console.log('onUnmounted_from_edrit')

  });
  onMounted(() => {
   nextTick(function () {
    getListTags();
    getListCategories();
    getProduct()
    $('.before-apply-select-picker').addClass('selectpicker')
    refreshPicker();
    setTimeout(() => {
     product.value.selected_tags = [];
    }, 100);
   })
   $('#tagsModal').on('hidden.bs.modal', function (e) {
    listTags.value = [];
    getListTags();
    refreshPicker();
   })
   $('#categoriesModal').on('hidden.bs.modal', function (e) {
    listCategories.value = [];
    getListCategories();
    $('#selectpicker_categories').selectpicker('refresh');
   })
  });
  const id = ref(useRoute().params.id)
  watchEffect(() => {
  })


  const nameTag = function (value) {
   if (value && listTags.value) {
    return _.find(listTags.value, {'id': value}).name;
   }
  };
  const showModalCategories = () => {
   $('#categoriesModal').modal('show')
  };
  const showModalTags = () => {
   $('#tagsModal').modal('show')
  };
  return {
   // computed_selected_tags,
   /*  selected_tag_change,
  ll*/
   selected_tags,
   product,
   store,
   addSelectedTag,
   refreshPicker,
   errors,
   listCategories,
   listTags,
   removeSelectedTag,
   nameTag,
   getProductFiles,
   showModalCategories,
   showModalTags,
  };
 }


}
</script>

<style scoped>

</style>