<template>
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-12">
    <div class="card">
     <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
       <i class="material-icons">assignment</i>
      </div>
      <h4 class="card-title">لیست محصولات</h4>
     </div>
     <div class="card-body">
      <div class="table-responsive">
       <table class="table table-shopping">
        <thead>
        <tr>
         <th class="text-center">#</th>
         <th><i class="material-icons">image</i></th>
         <th>نام محصول</th>
         <th>دسته بندی</th>
         <th>قیمت</th>
         <th class="text-right">فعالیت</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(product,index) in products">
         <td class="text-center">{{ index + 1 }}</td>
         <td>
          <div class="img-container">
           <!--           <img src="../../assets/img/product3.jpg" alt="...">-->
           <img :src="product.special">
          </div>
         </td>
         <td>{{ product.name }}</td>
         <td>{{ product.categories_implode }}</td>
         <td class="text-right">{{ product.get_price }}</td>
         <td class="td-actions text-right">
          <router-link :to="{ name:'product_edit' ,params: { id: product.id } }">
           <button class="btn btn-success">
            <i class="material-icons">edit</i>
           </button>
          </router-link>
          <button @click="remove(product)" class="btn btn-danger">
           <i class="material-icons">close</i>
          </button>
         </td>
        </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</template>

<script>
import {ref, reactive,getCurrentInstance} from 'vue'
import {form_data, swal_alert} from "../../../scripts/global";


export default {
 setup() {
  const app = getCurrentInstance()
  const progressBar = app.appContext.config.globalProperties.$Progress
  const products = ref([])
  const get = () => {
   axios.get('admin/product').then(r => {
    r.data.data.forEach(function (item) {
     products.value.push(item);
    });
   });
  }
  const remove =  (product)=> {
   swal_alert.delete(product.name).then(res => {
    if (res.value) {
     progressBar.start();
     axios.post('admin/product/' + product.id, form_data.form_data(null, null, 'DELETE')).then(r => {
      products.value.splice(products.value.indexOf(product), 1)
      progressBar.finish();
      swal_alert.success('عملیات با موفقیت انجام شد.');
     })
      .catch((error, a, b) => {
       progressBar.fail();
       swal_alert.error_for_all_code(error);
      });
    }
   })
  }
  get();
  return {
   products, get, remove
  }
 }
}
</script>

<style scoped>

</style>