<template>
 <select v-model="selected_tag.tag" class="selectpicker text-right col-5" :id="'id_tags0'"
         data-style="select-with-transition" title="ویژگی"
         data-size="7" data-live-search="true"
 >
  <option v-for="tag in listTags" :value="tag.id" >{{ tag.name }}</option>
 </select>
</template>

<script>
export default {
name: "tag",
 props: {
  selected_tag: {
   type: Object,
  //  default() {
  //   return null;
  //  },
  },
  listTags: {
   type: Array,
  //  default() {
  //   return null;
  //  },
  },
 },
 data() {

 },
 mounted() {
  setTimeout(function () {
   console.log('tagtagtagtagtagtag')
   console.log(this.selected_tag)
    $('#id_tags0').selectpicker('refresh');
    // $('#id_tags'.concat(index)).selectpicker('refresh').empty().append(output).selectpicker('refresh').trigger('change');
    // $('#id_tags'.concat(index)).addClass('selectpicker');
    // $('#id_tags'.concat(index)).attr('data-live-search', 'true');
    // $('#id_tags'.concat(index)).selectpicker('refresh');

  }, 100);

 }
}
</script>

<style scoped>

</style>